body {
    background-color: #fff;
    font: 12px  sans-serif;
    margin: 0;
    padding: 0; 
}

a {
    /*color: #fff;*/
    text-decoration: none;
}

/******************************************
Map
******************************************/

#map {
    background-color: #2D2A2A;
    height: 100%;
    position:absolute; 
    top:55px; 
    width:100%; 
}

#map .leaflet-left .leaflet-control{
    top: 2px;   
    margin-left: 340px;

}





.map_recurso{
    position:relative; 
}
.leaflet-bottom .leaflet-control-scale{
    margin-bottom: 5px;
}


/******************************************
loading gif
******************************************/
/*.loading {
    position: relative;
}*/

.loading:after {
    background: url(../img/ajax-loader.gif) no-repeat;
    content: "Cargando...";
    color: #666;
    left: 50%;  
    height: 16px;
    line-height: 16px;
    margin-top: -8px;
    margin-left: -40px;
    position: absolute;
    font-size: 12px;
    top: 50%; 
    text-indent: 26px;
    width: 80px;
}

#map.loading:after {
    background-color: #333;
    background-color: rgba(0,0,0,0.75);
    background-image: url(../img/ajax-loader-rev.gif);
    color: #fff;
    padding: 20px;
    background-position: 20px 50%;
    border-radius: 10px;
    z-index: 4;
    position: absolute;
}

#content_of_search.loading:after {
    background-color: #333;
    background-color: rgba(0,0,0,0.75);
    background-image: url(../img/ajax-loader-rev.gif);
    color: #fff;
    padding: 20px;
    background-position: 20px 50%;
    border-radius: 10px;
    z-index: 4;
    position: absolute;
}



/**********************
sidebar
***********************/
.sidebar{
    background: none repeat scroll 0 0 rgba(13, 13, 13, 0.898);      
    position: absolute;
    top: 65px;   
    float: left;
    height: 87%;  
    width: 300px;   
    z-index: 12; 
    color: #fff;
    left: 10px;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.sidebar .content-search{
    width: 100%;
    text-align: center;

}
.sidebar .search input{   
    margin-bottom:0px;
    height: 18px;
}

.alert {
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 2px;
    margin-top: -10px;
    padding: 3px 35px 3px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
/******************************************
BUSQUEDA
******************************************/
/*****************
Autocomplete
******************/
#serach{
    /*background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s*/
}
#content_of_search{
    /*height: 80%;*/
    overflow-y:auto ;
    /* max-height: ;*/
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(127,133,135);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgb(127,133,135);
}




.well-ru{
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom:  1px solid #3B5998;
    text-align: left;
}

/******************************************
footer
******************************************/

.popup {
    text-align: center;
}
.popup .slideshow {
    width: 100%;
}
.popup .slideshow .image {
    display: none;
}
.popup .slideshow .active {
    display: block;
}
.popup .slideshow img {
    width: 100%;
}
.popup .slideshow .caption {
    background: #eee;
    padding: 8px;
}
.popup .cycle {
    height: 30px;
    margin-top: 5px;
    padding-top: 5px;
}
.popup .cycle a.prev {
    float: left;
}
.popup .cycle a.next {
    float: right;
    margin-right: 200px;
}

.btn-detail{
    position: absolute;
    bottom: 35px;
    right: 15px;
}

.leaflet-container .btn-detail a{
    color: #FFF;
}


/******************************************
Autocomplete
******************************************/

input.fetching {
    background: lightgrey;
}

#last-selection {
    font-size: 10px;
    color: green;
}

p.warning {
    color: red;
}

.group h3{
    color: #ff0000;
}

.result {
    list-style: none;
    padding: 0;
    margin: 0;
    background: none;
}

.group {
    position: relative;
    padding: 0px;
    text-align: center;
    background: #e7e7e7;
    border-color: #bfbfbf;
    border-width: 1px 1px 0 1px;
    border-style: solid;
}

.group > h3 {
    font-size: 11px;
    color: #555;
    padding: 0;
    margin: 0;
}

.result {
    position: relative;
    padding: 5px 7px;
    background: white;
    border-color: #bfbfbf;
    border-width: 1px 1px 0 1px;
    border-style: solid;

}

.result > h4 {
    font-size: 12px;
    color: #3c3c3c;
    padding: 0;
    margin: 0 0 2px 0;
}

.result > p {
    font-size: 11px;
    line-height: 1.3;
    color: #6f6f6f;
    padding: 0;
    margin: 0;
}

.result.highlight {
    background: #0075ba;
    border-top-color: #1f4a64;

}

.result.highlight > h4,
.result.highlight > p {
    color: white;
}


/******************************************
Menu
******************************************/
.menu-container{
    position: absolute;
    top: 40px;
    z-index: 9;
    width: 100%;
    /*text-align: center; */
    font-family: Arial;
    font-size: 12px;
}

i[class*="icon"] {
    margin-right:10px;
    line-height: 15;
}
i {
    position: relative;
    bottom: 2px;
}


/******************************************
Boostrap
******************************************/

.navbar-search{
    height: 30px;
}

.navbar-search .search-query {
    padding-left: 29px !important;
}

.navbar-search .icon-search {
    position: absolute;
    top: 7px;
    left: 11px;
    background-image: url("http://twitter.github.com/bootstrap/assets/img/glyphicons-halflings.png");
}

.navbar-search input[type="text"]{
    height: 30px;
}


.result{
    cursor: pointer;
}

/*****************
HIDE SIDEBAR
********************/

.hide_sidebar{
    position: absolute;    
    width: 25px;
    height: 25px;
    top: 1px;
    right: 5px;
    border: none;
    background: transparent url(../img/arrow.png) no-repeat 0px 7px;  
    display: block;
    cursor: pointer;

}
.hide_sidebar a{
    color: #fff;
    text-decoration: none;
}

.inf_sidebar{
    display: none;
    background: url(../img/arrow.png) no-repeat -83px 9px rgba(13, 13, 13, 0.898);    
    position: absolute;
    top: 65px;   
    float: left;
    height: 28px;  
    width: 28px;   
    z-index: 12; 
    left: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#geolocate {
    background: none repeat scroll 0 0 rgba(13, 13, 13, 0.898);   
    position: absolute;
    top: 70px;
   right: 2px;
    width: 158px;
    margin-left: -80px;
    z-index: 1000;  
    text-align: center;
    padding: 10px 0;
    color: #fff;
    display: block;
    border: 1px solid #BBB;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

